name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.10"

      - name: install python
        run: uv python install

      - name: install dependencies
        run: uv sync --all-extras --dev

      - name: ruff check
        run: ruff check --output-format=github .

      - name: ruff format
        run: ruff format --check .
